/* GENERAL */

html {
	overflow-y: scroll;
}

body {
	background: #efefef;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	color: #222;
}

body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header, footer, article, aside, nav, div {
	display: block;
	overflow: hidden;
}

h1 {font-size: 50px;}

h2 {font-size: 1.61em;}

h1, h2, h3 {
	margin-bottom: 0.75rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

h3 {
	font-size: 1em;
	font-weight: 900;
}

p, ul, table {
	margin-bottom: 1rem;
	line-height: 1.65;
}

.img-responsive {
	max-width: 100%;
}

#abbr {
	text-decoration: none;
}
a {text-decoration: none;}
a:link {color: #4286f4;}
/* Jeg syns a:visited er grei som default */
a:hover {text-decoration: underline;}
a:active {color: #af111c;}

/* LAYOUT */

.grid, .grid-single {
	margin-left: 20%;
	display: grid;
	min-height: 100vh;
}

.grid {
	grid-template-columns: 1fr minmax(276px, 25%);
	grid-template-rows: 500px repeat(3, auto);
	grid-template-areas:
		"banner banner"
		"articles about"
		"webutvikling weblinks"
		"infprog proglinks"
		"footer footer";
}

.grid-single {
	grid-template-columns: 1fr;
	grid-template-rows: 200px repeat(3, auto);
	grid-template-areas:
		"banner"
		"main"
		"filler"
		"footer";
}

.sidebar-left {
	background: #233237;
	position: fixed;
	left: 0;
	top: 0;
	width: 20%;
	min-width: 231px;
	height: 100%;
	color: white;
	text-align: right;
}

.banner, .banner-self {
	background-image: url("../img/banner4.jpg");	
	background-size: cover;
	background-position: bottom;
	grid-area: banner;
}

.banner-self {
	background-image: url("../img/banner5.jpg");
}

.articles {
	grid-area: articles;
}

.about {
	grid-area: about;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.webutvikling {
	grid-area: webutvikling;
}

.weblinks {
	grid-area: weblinks;
}

.infprog {
	grid-area: infprog;
}

.proglinks {
	grid-area: proglinks;
}

.area {
	padding: 1.5rem;
}

.course-container {
	display: flex;
	margin-left: 1.5em;	
}

.course-info {
	flex-grow: 1;
}

.table-responsive {
	flex-grow: 2;
}

/* LEFT SIDEBAR / NAVIGATION */

.mast {
	margin: 100px 0;
	margin-right: 80px;
}

.mast img {
	width: 150px;
}

#mainmenu {
	line-height: 3em;
	text-transform: uppercase;
	margin-right: 80px;
}

#mainmenu ul {
	list-style-type: none;
}

#mainmenu ul li a {
	line-height: 3em;
	text-decoration: none;
	color: white;
	-webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

#mainmenu ul li a:hover {
	color: #af111c;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#accordion-button {
	line-height: 3em;
	cursor: pointer;
}

#accordion li a{
	font-weight: 900;
}

#icon {
	display: none;
}

/* ARTICLES & MAIN CONTENT  */

.main-header {
	line-height: 1;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}

.article-card-front, .article-card-index {
	padding: 1.5rem;
}

.article-card-front {
	width: 45%;
}

.article-card-index {
	width: 30%;
}

.header-link, .header-link:link {
	text-decoration: none;
	color: black;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.meta {
	text-transform: uppercase;
	font-size: 0.8em;
	color: #aaa;
}

.article-image {
	float: right;
	margin: 15px;
	margin-right: 0;
}

.single-article, .inspirasjon {
	margin: 1.5rem auto;
	max-width: 800px;
	font-size: 1.1em;
	padding: 20px;
}

.inspirasjon {
	grid-area: filler;
}

.breadcrumb {
	margin: 1em;
}

.code {
	font-size: 1rem;
	word-break: break-all;
}

.code-presentation {
	text-align: left;
	margin-bottom: 20px;
}

.links {
	list-style-type: none;
}
/* ABOUT */

.profile {
	text-align: center;
	margin: 40px 0;
}

.profile figure img {
	border-radius: 50%;
}

.frister {
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

/* FOOTER */

footer {
	grid-area: footer;
	color: white;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5em;
}

/* TABLES */

#frister-table {
	border-collapse: collapse;
	width: 100%;
}

#frister-table * {
	padding: .5em;
	border-bottom: 1px solid #ddd;
}

#frister-table tr:first-child {
	color: red;
}

.oblig-table table{
	font-size: 26px;
	padding: 1.5rem;
	text-align: left;
}

.oblig-table table td, .oblig-table table th {
	width: 150px;
	padding-left: 35px;
}

.timeplan {
	font-size: 12px;
}

.timeplan, .timeplan td, .timeplan th {
	border: 1px solid;
	border-collapse: collapse;
}

.timeplan td, .timeplan th {
	padding: 0.1em 0.5em;
}

.tid {
	font-style: oblique;
}

.lab {
	background: lightblue;
}

.forelesning {
	background: lightgreen;
}

.inspirasjon table tr:nth-child(odd) {
	background: #ddd;
}

/* SVG ANIMATION */

#line-rotation {
	animation-name: rotate;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}

/* RESPONSIVE */

@media screen and (max-width: 1400px) {

	.article-card-front {
		width: 100%;
		margin-right: 5%;
	}

	.grid {
		grid-template-rows: 300px auto auto;

	}
}

@media screen and (max-width: 1240px) {

	.table-responsive {
		overflow-x: scroll;
	}
}

@media screen and (max-width: 1000px) {

	.sidebar-left {
		width: 100%;
		position: static;
		height: auto;
	}

	.mast {
		display: none;
	}
	
	#mainmenu {
		margin: 0;
	}

	#mainmenu ul li {
		float: left;
		margin-left: 1.5rem;
	}

	.grid, .grid-single {
	margin: 0;
	display: initial;
	}

	.banner {
		height: 200px;
	}

	.main-header {
		font-size: 2.5em;
		margin-top: 0;
	}

	.article-card-front {
		width: 100%;
		margin: 1rem;
	}

	.profile {
		margin: 1.5em;
	}
	
	.frister {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.frister table {
		text-align: center;
		border-collapse: collapse;
		width: 50%;
		border-bottom: 1.5em;
	}

	.single-article {
		margin: 1.5rem auto;
		width: 100%;
		font-size: 1.1em;
	}

	.flex-container {
		display: block;
	}

	.article-card-index {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {

	.course-container {
		display: block;
	}
}

@media screen and (max-width: 480px) {

	nav ul li:not(:first-child) {
		display: none;
	}

	#icon {
		position: absolute;
		top: 10px;
		right: 10px;
		display: block;
		margin-right: 10px;
		cursor: pointer;	
	}
}

@media print {
	p {font-size: 0.75em;}

	.sidebar-left {
		display: none;
	}

	.grid, .grid-single {
	margin: 0;
	display: initial;
	}

	.grid {margin-left: 1em;}

	.banner {display: none;}

	.flex-container {
		display: block;
	}

	.article-card-front {
		width: 100%;
	}

	.course-container {
		display: block;
	}


}